body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f4c3;
  color: #333;
}

.container {
  width: 1000px; 
  margin: 0 auto; 
  background: transparent; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

header h1 {
  margin: 0;
  color: #7b8c42;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-right img {
  width: 24px;
  height: 24px;
}

.login-btn,
.join-btn {
  color: #7b8c42;  
  padding: 5px 10px;
  border: 1px solid #7b8c42;
  background: transparent;
  cursor: pointer;
}

nav {
  background: #7b8c42;
  margin-bottom: 20px; 
}


nav ul {
  margin: 0;
  padding: 0 20px;
  display: flex;
  list-style: none;
  justify-content: flex-start;
}


nav ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav ul li a:hover {
  background: #5c6b2f;
}

.banner img {
  width: 1000px; 
  height: 300px; 
  object-fit: cover; 
  display: block;
  margin: 0 auto; 
}

.content {
  display: flex;
  justify-content: space-between;
}

.box {
  width: 48%;
  background: transparent;
  border: 1px solid #ddd; 
}

.box h2 {
  margin-top: 10px;        
  background: #7b8c42;
  color: #fff;
  padding: 5px 5px 5px 15px; 
  font-size: 16px;          
  font-weight: normal;   
}

.veg-list {
  display: flex;
  gap: 10px;
}

.veg-list img {
  width: 30%;
  height: auto;
}

footer {
  background: #7b8c42;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
